# The requirements listed here are for development.
# Requirements of your napari plugin should be listed in setup.cfg
# See also: https://caremad.io/posts/2013/07/setup-vs-requirement/

-e .

pip~=21.2.4
wheel~=0.37.0
tornado~=6.1
numpy>=1.21
docutils~=0.17.1
pandas~=1.5.2
napari~=0.4.11
matplotlib~=3.6.2
magicgui~=0.6.1
qtpy~=2.3.0
scikit-image~=0.19
umap-learn~=0.5.1
hdbscan~=0.8.27
scikit-learn~=1.0
pytz~=2021.3
numba~=0.55.1
pre-commit
pytest~=7.2.0
setuptools~=65.6.3
superqt~=0.4.1
vispy~=0.11.0
dask
