# The requirements listed here are for development.
# Requirements of your napari plugin should be listed in setup.cfg
# See also: https://caremad.io/posts/2013/07/setup-vs-requirement/

-e .

pip~=23.0.1
wheel~=0.40
tornado~=6.2
numpy~=1.23.5
docutils~=0.17.1
pandas~=1.5.3
napari~=0.4.19
matplotlib~=3.7.1
magicgui~=0.7.2
qtpy~=2.3.0
scikit-image~=0.20
umap-learn~=0.5.3
hdbscan~=0.8.29
scikit-learn~=1.2.2
pytz~=2022.7.1
numba~=0.56.4
pre-commit~=3.1.1
pytest~=7.2.2
setuptools~=67.6.0
superqt~=0.4.1
vispy~=0.11.0
